Repository BOSWatch/BW3-Core, pull requests merged in 2020-07, with the labels that each got.

#47 Added PulseAudio as SourceInput
  boswatch/inputSource/pulseaudioInput.py
  bw_client.py
  docu/docs/config.md
Labels: Component: Client, Feature

#49 PR Multimon rebase
  boswatch/inputSource/inputBase.py
  boswatch/inputSource/lineInInput.py
  boswatch/inputSource/pulseaudioInput.py
  boswatch/inputSource/sdrInput.py
  config/client.yaml
  docu/docs/config.md
Labels: Component: Client, Enhancement

#52 PR doubleFilter
  docu/docs/modul/double_filter.md
  docu/mkdocs.yml
  module/filter/doubleFilter.py
Labels: Component: Modul, Feature, Priority: High

#50 add queuing to telegram plugin (Solves Issue #39)
  docu/docs/plugin/telegram.md
  plugin/telegram.py
Labels: Component: Plugin, Enhancement
