Repository BOSWatch/BW3-Core, pull requests merged in 2020-02, with the labels that each got.

#20 Add Http Plugin
  docu/docs/plugin/http.md
  docu/mkdocs.yml
  plugin/http.py
Labels: Component: Plugin

#18 Add Telegram Plugin
  boswatch/wildcard.py
  docu/docs/develop/packet.md
  docu/docs/modul/geocoding.md
  docu/docs/plugin/telegram.md
  docu/mkdocs.yml
  module/geocoding.py
  plugin/telegram.py
Labels: Component: Modul, Component: Plugin

#21 Docs Anpassungen
  docu/docs/modul/descriptor.md
  docu/docs/modul/geocoding.md
  docu/docs/modul/mode_filter.md
  docu/docs/modul/regex_filter.md
  docu/docs/plugin/http.md
  docu/docs/plugin/telegram.md
  docu/mkdocs.yml
Labels: Priority: Low
